@charset "UTF-8";

body {
    background-color: lightskyblue;
    color: black;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: blue;
    background-color: rgb(3, 58, 92);
}

h2{
    color: rgb(134, 33, 33);
}

